{%extends 'base.html'%}
{%block content%}
<div class="card" style="width: 50%;     margin: auto;text-align: center;">
    <div class="card-header">
        <h2>Well come {{user.username}}</h2>
    </div>
    <div class="card-body">
        <h3 class="card-title text-info"> Your name : {{user.first_name}} {{user.last_name}}</h3>
        <p class="card-text text-success">your email address is : {{user.email}}</p>
        <a href="{%url 'edit' user.id%}" class="btn btn-primary">Edit profile</a>
        <a href="{%url 'passchange'%}" class="btn btn-warning">Change password</a>
    </div>
</div>
<h3>History of your orders</h3>
<div class="col-10">
    <div class="ms-5 row">
        {% for car in context %}
        <div class="col-md-3 mb-3">
            <div class="card border border-success">
                <div class="img-wrapper">
                    <img src="{{ car.car.image.url }}" class="card-img-top img-custom" alt="{{ car.car.name }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ car.car.name }}</h5>
                    <p class="card-text fw-semibold">Price: ${{ car.car.price }}</p>
                    <p class="card-text">Brand: {{ car.car.brand_name.name }}</p>
                    <a href="{% url 'car_detail' car.car.pk %}" class="btn btn-primary mx-auto">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>


{%endblock%}